@page "{id:int}"
@model Details

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    <a href="/">Go back</a>
    @if (Model.Product == null){
        <p>Product not found</p>
    } else {
        <h1>Product: @Model.Product.Name</h1>
        <h2>Price: @Model.Product.Price</h2>
    }
</body>
</html>