@page
@model IndexModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razor Pages Example</title>
</head>
<body>
    <h1>Products</h1>
    <ul>
        @foreach (var m in Model.Products)
        {
            <li>@m.Id - @m.Name - @m.Price</li>
        }
    </ul>
</body>
</html>